@{
    ViewData["Title"] = "Heat Map";
}

<input id="myTomTomKey" type="hidden" value="@ViewData["MyTomTomKey"]" />
<input id="droughtInfoURL" type="hidden" value="@ViewData["DroughtInfoURL"]" />

<div id='map' class='map'></div>

@section Scripts {
    <script src="https://api.tomtom.com/maps-sdk-for-web/cdn/5.x/5.38.0/maps/maps-web.min.js"></script>
    <script>
        let myTomTomKey = $('#myTomTomKey').val();
        let droughtInfoURL = $('#droughtInfoURL').val();

        const map = tt.map({
            key: myTomTomKey,
            container: 'map',
            zoom: 3,
            center: [-98.5795, 39.8283]
        });

        fetch(droughtInfoURL)
            .then(res => res.json())
            .then(data => {
                map.addLayer({
                    id: 'density',
                    source: {
                        type: 'geojson',
                        data,
                    },
                    type: 'heatmap',
                    paint: {
                        //Adjust the heatmap radius by zoom level
                        'heatmap-radius': [
                            "interpolate",
                            ["linear"],
                            ["zoom"],
                            0, 2,
                            3, 5,
                        ],
                        'heatmap-weight': {
                            type: 'exponential',
                            property: 'density',
                            stops: [
                                [1, 0],
                                [10000, 1],
                            ]
                        }
                    }
                });
            })
            .catch(err => {
                debugger;
                console.error(err);
            });
    </script>
}