@model PlaceCollection
@{
    ViewData["Title"] = "World Map";
}

<input id="myTomTomKey" type="hidden" value="@ViewData["MyTomTomKey"]" />
<input id="famousPlaces" type="hidden" value="@Model.ToJson()" />

<div id="places-container">
    <a class="btn btn-dark" href="#" role="button" onclick="javascript: showWorld();">Show World</a>
    @for (int i = 0; i < Model.Places.Length; i++)
    {
        var place = Model.Places[i]; 
        <a class="btn btn-primary" href="#" role="button" onclick="javascript: btnClick(@place.Id);">@place.Name</a>
    }
</div>

<h1 id="placeName"></h1>

<div id='map' class='map'></div>

@section Scripts {
    <script src="https://api.tomtom.com/maps-sdk-for-web/cdn/5.x/5.38.0/maps/maps-web.min.js"></script>
    <script>
        let myTomTomKey = $('#myTomTomKey').val();
        let droughtInfoURL = $('#droughtInfoURL').val();
        let famousPlaces = JSON.parse($('#famousPlaces').val()).Places;
        let map;

        showWorld();

        var config = {
            key: myTomTomKey,
            refresh: 3000
        };

        function showWorld() {
            $('#placeName').html('');

            map = tt.map({
                key: myTomTomKey,
                container: 'map',
                zoom: 1.5,
                center: [0, 40],
                style: 'tomtom://vector/1/basic-main'
            });

            for (var i = 0; i < famousPlaces.length; i++) {
                let place = famousPlaces[i];

                var marker = new tt.Marker().setLngLat(place.center).addTo(map);
                var popupOffsets = {
                    top: [0, 0],
                    bottom: [0, -40],
                    'bottom-right': [0, -70],
                    'bottom-left': [0, -70],
                    left: [25, -35],
                    right: [-25, -35]
                }

                var popup = new tt.Popup({ offset: popupOffsets }).setHTML('<a href="javascript:  btnClick(' + place.id + ');">' + place.name + '</a>');
                marker.setPopup(popup);
            }
        }

        function btnClick(id) {
            $.ajax('http://localhost:5000/Home/GetPlace/' + id)
                .done(function (place) {
                    showPlace(place)
                });
        }

        function showPlace(place) {
            $('#placeName').html(place.name);

            if (map) {
                map.remove();
            }

            map = tt.map({
                key: myTomTomKey,
                container: 'map',
                zoom: place.zoom,
                center: place.center
            });

            map.on('load', function () {
                map.addLayer({
                'id': 'overlay',
                'type': 'fill',
                'source': {
                    'type': 'geojson',
                    'data': {
                        'type': 'Feature',
                        'geometry': {
                            'type': 'Polygon',
                            'coordinates': place.coordinates
                        }
                    }
                },
                'layout': {},
                'paint': {
                    'fill-color': '#db356c',
                    'fill-opacity': 0.5,
                    'fill-outline-color': 'black'
                }
            });
            });
        }
    </script>
}