@model PlaceCollection
@{
    ViewData["Title"] = "World Map";
}

<input id="myTomTomKey" type="hidden" value="@ViewData["MyTomTomKey"]" />
<input id="famousPlaces" type="hidden" value="@Model.ToJson()" />

<div id="places-container">
    @for (int i = 0; i < Model.Places.Length; i++)
    {
        var place = Model.Places[i]; 
        <a class="btn btn-primary" href="#" role="button" onclick="javascript: showPlace(@i);">@place.Name</a>
    }
</div>

<h1 id="placeName"></h1>

<div id='map' class='map'></div>

@section Scripts {
    <script src="https://api.tomtom.com/maps-sdk-for-web/cdn/5.x/5.38.0/maps/maps-web.min.js"></script>
    <script>
        let myTomTomKey = $('#myTomTomKey').val();
        let droughtInfoURL = $('#droughtInfoURL').val();
        let famousPlaces = JSON.parse($('#famousPlaces').val()).Places;
        let map;

        var config = {
            key: myTomTomKey,
            refresh: 3000
        };

        function showPlace(i) {
            var place = famousPlaces[i];
            $('#placeName').html(place.name);

            if (map) {
                map.remove();
            }

            map = tt.map({
                key: myTomTomKey,
                container: 'map',
                zoom: place.zoom,
                center: place.center,
                //valid styles include: basic-main, basic-light, basic-night, hybrid-main, hybrid-night, labels-main, and labels-night
                style: 'tomtom://vector/1/basic-main',
            });

            map.on('load', function () {
                map.addLayer({
                'id': 'overlay',
                'type': 'fill',
                'source': {
                    'type': 'geojson',
                    'data': {
                        'type': 'Feature',
                        'geometry': {
                            'type': 'Polygon',
                            'coordinates': place.coordinates
                        }
                    }
                },
                'layout': {},
                'paint': {
                    'fill-color': '#db356c',
                    'fill-opacity': 0.5,
                    'fill-outline-color': 'black'
                }
            });
            });
        }
    </script>
}