@model String; 
@{
    ViewData["Title"] = "Polygon";
}

<input id="myTomTomKey" type="hidden" value="@ViewData["MyTomTomKey"]" />
<input id="famousPlaces" type="hidden" value="@Model" />

<div id='map' class='map'></div>

@section Scripts {
    <script src="https://api.tomtom.com/maps-sdk-for-web/cdn/5.x/5.38.0/maps/maps-web.min.js"></script>
    <script>
        let myTomTomKey = $('#myTomTomKey').val();
        let famousPlaces = JSON.parse($('#famousPlaces').val());

        const map = tt.map({
            key: myTomTomKey,
            container: 'map',
            zoom: 12,
            center: famousPlaces[0].center,
            //valid styles include: basic-main, basic-light, basic-night, hybrid-main, hybrid-night, labels-main, and labels-night
            style: 'tomtom://vector/1/basic-main',
        });

        var config = {
            key: myTomTomKey,
            refresh: 3000
        };
        map.on('load', function () {
            map.addTier(new tt.TrafficFlowTilesTier(config)).then(function () {
                map.addLayer({
                    'id': 'overlay',
                    'type': 'fill',
                    'source': {
                        'type': 'geojson',
                        'data': {
                            'type': 'Feature',
                            'geometry': {
                                'type': 'Polygon',
                                'coordinates': famousPlaces[0].coordinates
                            }
                        }
                    },
                    'layout': {},
                    'paint': {
                        'fill-color': '#db356c',
                        'fill-opacity': 0.5,
                        'fill-outline-color': 'black'
                    }
                }, 'Vector Traffic Outline One Side Parking road');
            });
        });
    </script>
}
